<section class="header__wrap container">
  <div class="header__logo">
    <a href="../index.html"><img src="img/logo_justCreate.svg" alt="Логотип «Только твори»"></a>
  </div>
  <nav class="header__nav nav">
    <ul class="nav__list">
      <li class="nav__item nav__item--event"><a href="#">Мероприятия</a></li>
      <li class="nav__item nav__item--team"><a href="#">Коллективы</a></li>
      <li class="nav__item nav__item--users"><a href="#">Пользователи</a></li>
      <li class="nav__item nav__item--privat">
        <a href="#">
          <p class="nav__avatar">
            <img src="" alt="">
            <!-- <img src="" alt="Фото пользователя"> -->
          </p>
          <span class="surname"></span>
          <span class="lastname"></span>
          <!-- Личный кабинет -->
        </a>
        <ul class="nav__sublist">
          <li class="nav__subitem">
            <a href="../index.html">Выход</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <section class="header__user user">
    <ul class="user__list">
      <li class="user__item user__item--wallet"><a href="#"><span class="visuallyhidden">Кошелек</span></a></li>
      <li class="user__item user__item--message"><a href="#"><span class="visuallyhidden">Сообщения</span></a></li>
      <li class="user__item user__item--alert"><a href="#"><span class="visuallyhidden">Оповещения</span></a> </li>
      <li class="user__item user__item--more"><a href="#"><span class="visuallyhidden">Больше информации</span></a></li>
    </ul>
  </section>
</section>
