.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.nav__item {
  position: relative;
  border-right: 1px solid @light-grey;
  display: flex;
  flex: 1 0 auto;
  background-color: @white;
  min-width: 205px;
  &:hover {
    background-color: @light-turquoise;
  }
  a {
    color: @black;
    text-decoration: none;
    display: block;
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 25px;
    padding-bottom: 10px;

  }
  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    top: 50%;
    margin-top: -23px;
    left: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  &--event::before {
    background-image: url("../img/event_grey.svg");
    background-size: 40px 40px;
  }
  &--team::before {
    background-image: url("../img/team_grey.svg");
    background-size: 40px 40px;
  }
  &--users::before {
    background-image: url("../img/users_grey.svg");
    background-size: 30px 36px;
  }
  &--privat::before {
    content: none;
  }
  &--event:hover::before {
    background-image: url("../img/event.svg");
  }
  &--team:hover::before {
    background-image: url("../img/team.svg");
  }
  &--users:hover::before {
    background-image: url("../img/users.svg");
  }
  &:hover .nav__sublist {
    display: block;
  }
}

.nav__sublist {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 79px;
  width: 100%;
  display: none;
}

.nav__subitem {
  border-radius: 5px;
  min-height: 79px;
  box-shadow: @shadow;
  background-color: @white;
  &:hover {
    background-color: @light-turquoise;
  }

  a {
    padding-left: 20px;
    height: 100%;
  }


}




.nav__avatar {
  position: absolute;
  left: 20px;
  display: inline-block;
  margin: 0;
  margin-top: -18px;
  background-color: @grey;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  img {
    border-radius: 50%;
    width: 100%;
  }
}
