.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4e515a;
}

.page__flex {
  display: flex;
  align-items: flex-start;
  padding-top: 100px;

}

.page__flex--pt138 {
  padding-top: 138px;

}

.page--grey {
  background-color: @light-grey;
}

.page--error {
  background-color: rgba(252, 160, 171, 0.1);
}
